---
import AcercaDeMi from '../components/AcercaDeMi.astro';
import Proyectos from '../components/Proyectos.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import SatckTecnico from '../components/SatckTecnico.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <section id="Header">
    <Header />
  </section>

  <section id="Hero">
    <Hero />
  </section>

  <section id="Proyectos">
    <Proyectos />
  </section>

  <section id="Stack">
    <SatckTecnico />
  </section>

  <section id="Contacto">
    <Contacto />
  </section>

  <section id="Yo">
    <AcercaDeMi />
  </section>

  <section>
    <Footer />
  </section>
</Layout>
