---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="my-8 px-4 sm:px-6 lg:px-8 reveal-item reveal-right">
    <section id="Yo" class="">
      <h2
        class="flex items-center my-6 text-5xl font-titulo font-extrabold gap-x-3 dark:text-white undefined"
      >
        Acerca de mi
      </h2>

      <div class="flex justify-between">
        <p
          class="mt-6 sm:mr-2 sm:max-w-[750px] text-2xl font-texto dark:text-gray-300"
        >
          Me apasiona el desarrollo <strong class="text-destacado">
            Frontend
          </strong> y la creación de experiencias de usuario intuitivas y accesibles.
          Actualmente completando el bootcamp
          <strong class="text-destacado">Full Stack de ConquerBlocks </strong> mientras
          construyo proyectos reales que van más allá de los ejercicios. En búsqueda
          activa de mi primera oportunidad profesional para aplicar mis conocimientos
          y aportar valor a un equipo.
        </p>

        <img
          src="/yo-04.JPG"
          alt=""
          class="hidden sm:block rounded-4xl border-2 border-gray-300 shadow-lg w-[420px]"
        />
      </div>
    </section>
  </main>
</Layout>
