---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="">
    <section id="Yo">
      <h2
        class="flex items-center my-6 text-5xl font-titulo font-extrabold gap-x-3 dark:text-white undefined"
      >
        Acerca de mi
      </h2>

      <div class="flex justify-between">
        <p class="mt-6 max-w-[750px] text-2xl font-texto dark:text-gray-300">
          Me apasiona el desarrollo <strong class="text-destacado"
            >Frontend</strong
          > y la creación de experiencias de usuario intuitivas y accesibles. Actualmente
          estoy profundizando mis habilidades a través del <strong
            class="text-destacado">Máster online de ConquerBlocks.</strong
          > Mi objetivo es construir proyectos web modernos y rápidos, y estoy en
          búsqueda activa de mi <strong class="text-destacado"
            >primera oportunidad profesional</strong
          >
          para aplicar mis conocimientos y aportar valor a un equipo.
        </p>

        <img
          src="../../public/yo.jpeg"
          alt=""
          class="rounded-4xl border-2 border-gray-300 shadow-lg w-[420px]"
        />
      </div>
    </section>
  </main>
</Layout>
