---
import Layout from '../layouts/Layout.astro';
import HeroButtons from '../components/HeroButtons.astro';
---

<Layout>
  <section id="contacto" class="">
    <h3
      class="flex items-center my-6 text-5xl font-titulo font-extrabold gap-x-3 dark:text-white undefined"
    >
      Contacto
    </h3>
    <p class="mt-6 text-2xl font-texto dark:text-gray-300">
      Puedes contactarme cuando quieras, ya sea para colaborar, preguntar algo o
      simplemente saludar. Prometo responder lo antes posible.
    </p>
    <div id="botones-contacto" class="flex gap-5 py-2.5">
      <HeroButtons href="">
        <svg
          slot="before"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"> </path>
          <path
            d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
          ></path>
          <path d="M3 7l9 6l9 -6"> </path>
        </svg>
        Contáctame</HeroButtons
      >
      <HeroButtons href="">
        <svg
          slot="before"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M8 11v5"></path><path d="M8 8v.01"></path><path d="M12 16v-5"
          ></path><path d="M16 16v-3a2 2 0 1 0 -4 0"></path><path
            d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z"
          ></path></svg
        >Linkdln</HeroButtons
      >
      <HeroButtons href="">
        <svg
          slot="before"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          ></path></svg
        >
        GitHub</HeroButtons
      >
    </div>
  </section>
</Layout>
