---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
  <section class="my-8 px-4 sm:px-6 lg:px-8">
    <h2
      class="flex items-center my-6 gap-x-3 font-titulo font-extrabold dark:text-white text-3xl sm:text-4xl lg:text-5xl"
    >
      <svg
        slot="before"
        class="size-7"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M7 8l-4 4l4 4"></path><path d="M17 8l4 4l-4 4"></path><path
          d="M14 4l-4 16"></path></svg
      >Proyectos
    </h2>

    <div
      id="proyectos"
      class="mx-auto w-full max-w-5xl flex flex-col gap-8 sm:gap-10 lg:gap-12 items-stretch"
    >
      <Card
        title="Portafolio personal"
        description="Portafolio personal creado íntegramente con Astro, rápido y moderno. Optimización técnica con Lighthouse score de 98 en rendimiento y 100 en buenas prácticas."
        image="/portfolio-miniatura.webp"
        github="https://github.com/Matusbh/Portfolio-astro"
        demo="https://matdevs.com/"
      />

      <Card
        title="Gradient generator"
        description="Aplicación web interactiva que permite crear gradientes CSS personalizados de dos o tres colores, visualizar el resultado en tiempo real y copiar el código generado fácilmente. "
        image="/VistaPrevia.webp"
        github="https://github.com/Matusbh/Gradient-Creator"
        demo="https://matusbh.github.io/Gradient-Creator/"
      />

      <Card
        title="Rick-Morty API"
        description="Aplicación web que consume la API pública de Rick & Morty para explorar personajes y episodios. Incluye filtrado dinámico, gestión de favoritos y persistencia de datos mediante localStorage."
        image="/RM-vista1.PNG"
        github="https://github.com/Matusbh/RickMortyApi"
        demo="https://matusbh.github.io/RickMortyApi/#/characters"
        underConstruction={false}
      />

      <Card
        title="Landing page responsive"
        description="Página web moderna diseñada con HTML, CSS y JavaScript para practicar la creación de interfaces adaptables. Destaca por un diseño claro y completamente responsive."
        image="/vistaPrevia2Bien.webp"
        github="https://github.com/Matusbh/CSS-Tarea-entregable-3-Modern-Art-Gallery?tab=readme-ov-file"
        demo="https://matusbh.github.io/CSS-Tarea-entregable-3-Modern-Art-Gallery/index.html"
      />

      <Card
        title="Landing page creada con IA "
        description="Desarrollada en pocas horas con Firebase Studio, mostrando mi habilidad para crear páginas rápidas y bien estructuradas usando IA."
        image="/vista-Alcala.webp"
        github="https://github.com/Matusbh/Landing-page-IA"
        demo="https://github.com/Matusbh/Landing-page-IA"
      />
    </div>
  </section>
</Layout>
