---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Minicards from './StackCards.astro';
---

<Layout>
  <div>
    <h2
      class="flex items-center my-6 text-5xl font-titulo font-extrabold gap-x-3 dark:text-white"
    >
      Stack técnico
    </h2>
  </div>

  <div id="tarjetas-big" class="flex justify-around text-center">
    <div
      id="primera"
      class="flex-col justify-center alig-center border border-white/20 rounded-2xl overflow-hidden shadow-md hover:shadow-[#1b3669] hover:-translate-y-1 transition-all duration-300 w-[300px] h-auto px-3 py-4 bg-white/20 backdrop-blur-md dark:hover:shadow-white"
    >
      <h3 class="text-2xl font-semibold dark:text-white mb-[15px]">
        Lenguajes
      </h3>
      <div id="mini-tarjetas" class="">
        <Minicards title="HTLM5" description="Nivel: avanzado"
          ><svg
            slot="icon"
            x="0px"
            y="0px"
            viewBox="0 0 108.35 122.88"
            style="enable-background:new 0 0 108.35 122.88"
            xml:space="preserve"
            ><style type="text/css">
              .st0 {
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: #e44d26;
              }
              .st1 {
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: #f16529;
              }
              .st2 {
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: #ebebeb;
              }
              .st3 {
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: #ffffff;
              }
            </style>
            <polygon
              class="st0"
              points="108.35,0 98.48,110.58 54.11,122.88 9.86,110.6 0,0 108.35,0"
            ></polygon><polygon
              class="st1"
              points="54.17,113.48 90.03,103.54 98.46,9.04 54.17,9.04 54.17,113.48"
            ></polygon><path
              class="st2"
              d="M34.99,36.17h19.19V22.61H20.16l0.32,3.64l3.33,37.38h30.35V50.06H36.23L34.99,36.17L34.99,36.17L34.99,36.17z M38.04,70.41H24.43l1.9,21.3l27.79,7.71l0.06-0.02V85.29l-0.06,0.02l-15.11-4.08L38.04,70.41L38.04,70.41L38.04,70.41z"
            ></path><path
              class="st3"
              d="M54.13,63.63h16.7l-1.57,17.59L54.13,85.3v14.11l27.81-7.71l0.2-2.29l3.19-35.71l0.33-3.64H54.13V63.63 L54.13,63.63z M54.13,36.14v0.03h32.76l0.27-3.05l0.62-6.88l0.32-3.64H54.13V36.14L54.13,36.14L54.13,36.14z"
            ></path>
          </svg>
        </Minicards>

        <Minicards title="CSS3" description="Nivel: avanzado"
          ><svg
            slot="icon"
            viewBox="0 0 296297 333333"
            shape-rendering="geometricPrecision"
            text-rendering="geometricPrecision"
            image-rendering="optimizeQuality"
            fill-rule="evenodd"
            clip-rule="evenodd"
            ><defs
              ><linearGradient
                id="id4"
                gradientUnits="userSpaceOnUse"
                x1="54128.7"
                y1="79355.5"
                x2="240318"
                y2="79355.5"
                ><stop offset="0" stop-color="#e8e7e5"></stop><stop
                  offset="1"
                  stop-color="#fff"></stop></linearGradient
              ><linearGradient
                id="id5"
                gradientUnits="userSpaceOnUse"
                x1="62019.3"
                y1="202868"
                x2="233515"
                y2="202868"
                ><stop offset="0" stop-color="#e8e7e5"></stop><stop
                  offset="1"
                  stop-color="#fff"></stop></linearGradient
              ><linearGradient
                id="id6"
                gradientUnits="userSpaceOnUse"
                x1="104963"
                y1="99616.9"
                x2="104963"
                y2="171021"
                ><stop offset="0" stop-color="#d1d3d4"></stop><stop
                  offset=".388"
                  stop-color="#d1d3d4"></stop><stop
                  offset="1"
                  stop-color="#d1d3d4"></stop></linearGradient
              ><linearGradient
                id="id7"
                gradientUnits="userSpaceOnUse"
                xlink:href="#id6"
                x1="194179"
                y1="61185.8"
                x2="194179"
                y2="135407"></linearGradient><mask id="id0"
                ><linearGradient
                  id="id1"
                  gradientUnits="userSpaceOnUse"
                  x1="104963"
                  y1="99616.9"
                  x2="104963"
                  y2="171021"
                  ><stop offset="0" stop-opacity="0" stop-color="#fff"
                  ></stop><stop offset=".388" stop-color="#fff"></stop><stop
                    offset="1"
                    stop-opacity=".831"
                    stop-color="#fff"></stop></linearGradient
                ><path fill="url(#id1)" d="M61737 99467h86453v71704H61737z"
                ></path></mask
              ><mask id="id2"
                ><linearGradient
                  id="id3"
                  gradientUnits="userSpaceOnUse"
                  x1="194179"
                  y1="61185.8"
                  x2="194179"
                  y2="135407"
                  ><stop offset="0" stop-opacity="0" stop-color="#fff"
                  ></stop><stop offset=".388" stop-color="#fff"></stop><stop
                    offset="1"
                    stop-opacity=".831"
                    stop-color="#fff"></stop></linearGradient
                ><path fill="url(#id3)" d="M147890 61036h92578v74521h-92578z"
                ></path></mask
              ><style>
                .fil6 {
                  fill: #000;
                  fill-opacity: 0.05098;
                }
              </style></defs
            ><g id="Layer_x0020_1"
              ><g id="_513085304"
                ><path
                  fill="#2062af"
                  d="M268517 300922l-120369 32411-120371-32411L0 0h296297z"
                ></path><path
                  fill="#3c9cd7"
                  d="M148146 24374v283109l273 74 97409-26229 22485-256954z"
                ></path><path
                  fill="#fff"
                  d="M148040 99617l-86153 35880 2857 35524 83296-35614 88604-37883 3674-36339-92278 38432z"
                ></path><path
                  mask="url(#id0)"
                  fill="url(#id6)"
                  d="M61887 135497l2857 35524 83295-35614V99617z"></path><path
                  mask="url(#id2)"
                  fill="url(#id7)"
                  d="M240318 61186l-92278 38431v35790l88604-37883z"></path><path
                  fill="url(#id5)"
                  d="M62019 135497l2858 35524 127806 407-2859 47365-42055 11840-40428-10208-2450-29399H67327l4900 56756 75950 22457 75538-22050 9800-112692z"
                ></path><path
                  class="fil6"
                  d="M148040 135497H61888l2857 35524 83295 266v-35790zm0 95022l-408 114-40422-10208-2450-29399H67197l4899 56756 75944 22457v-39720z"
                ></path><path
                  fill="url(#id4)"
                  d="M54129 61186h186189l-3674 36339H58620l-4491-36339z"
                ></path><path
                  class="fil6"
                  d="M148040 61186H54129l4491 36339h89420z"></path></g
              ></g
            ></svg
          >
        </Minicards>

        <Minicards title="JavaScript" description="Nivel: avanzado"
          ><img
            slot="icon"
            src="../../public/js.png"
            alt="Logo de JavaScript"
          />
        </Minicards>

        <Minicards title="Python" description="Nivel: medio"
          ><img slot="icon" src="../../public/py-logo.svg" alt="" />
        </Minicards>

        <Minicards title="TypeSctipt" description="Aprendiendo"
          ><img slot="icon" src="../../public/tp.svg" alt="" />
        </Minicards>
      </div>
    </div>

    <div
      id="segunda"
      class="flex-col justify-center alig-center border border-white/20 rounded-2xl overflow-hidden shadow-md hover:shadow-[#1b3669] hover:-translate-y-1 transition-all duration-300 w-[300px] h-auto px-3 py-4 bg-white/20 backdrop-blur-md dark:hover:shadow-white"
    >
      <h3 class="text-2xl font-semibold dark:text-white mb-[15px]">
        Frameworks y Librerías
      </h3>
      <div id="mini-tarjetas" class="">
        <Minicards title="Astro" description=""
          ><img slot="icon" src="../../public/Astro.svg" alt="" />
        </Minicards>

        <Minicards title="Vite" description=""
          ><img slot="icon" src="../../public/vitejs.svg" alt="" />
        </Minicards>

        <Minicards title="Tailwind" description=""
          ><img slot="icon" src="../../public/tailwind.svg" alt="" />
        </Minicards>

        <Minicards title="ReactJS" description="Aprendiendo"
          ><img slot="icon" src="../../public/react.svg" alt="" />
        </Minicards>
      </div>
    </div>

    <div
      id="tercera"
      class="flex-col justify-center alig-center border border-white/20 rounded-2xl overflow-hidden shadow-md hover:shadow-[#1b3669] hover:-translate-y-1 transition-all duration-300 w-[300px] h-auto px-3 py-4 bg-white/20 backdrop-blur-md dark:hover:shadow-white"
    >
      <h3 class="text-2xl font-semibold dark:text-white mb-[15px]">
        Control de versiones
      </h3>
      <div id="mini-tarjetas" class="">
        <Minicards title="Git" description="Control de versiones"
          ><img slot="icon" src="../../public/Git.svg" alt="" />
        </Minicards>
      </div>
    </div>
  </div>
</Layout>
